@import "../../styles/abstracts/placeholders";

.character-select {
  width: 800px;
  padding: 2em;
  background-color: white;
  border-radius: 10px;

  .input-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid $dark-font-color;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 1em;
  }

  &__wrapper {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    height: 550px;
    overflow-y: scroll;
    @extend %custom-scrollbar;
    border: 1px solid $dark-font-color;
    border-radius: 10px;
  }
}

.error-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .character-select {
    width: 100%;
  }
}
